In [1]:
import pandas as pd
import numpy as np

In [2]:
basics_url="https://datasets.imdbws.com/title.basics.tsv.gz"

In [3]:
akas_usl="https://datasets.imdbws.com/title.akas.tsv.gz"

In [4]:
rating_usl="https://datasets.imdbws.com/title.ratings.tsv.gz"

In [5]:
basics = pd.read_csv(basics_url, sep='\t', low_memory=False)

In [6]:
basics.info()
basics.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9588557 entries, 0 to 9588556
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   titleType       object
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         object
 5   startYear       object
 6   endYear         object
 7   runtimeMinutes  object
 8   genres          object
dtypes: object(9)
memory usage: 658.4+ MB

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [7]:
akas = pd.read_csv(akas_usl, sep='\t', low_memory=False)

In [8]:
akas.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,\N,imdbDisplay,\N,0
1,tt0000001,2,Carmencita,DE,\N,\N,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
3,tt0000001,4,Καρμενσίτα,GR,\N,imdbDisplay,\N,0
4,tt0000001,5,Карменсита,RU,\N,imdbDisplay,\N,0

In [9]:
rating = pd.read_csv(rating_usl, sep='\t', low_memory=False)

In [10]:
rating.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1949
1  tt0000002            5.8       264
2  tt0000003            6.5      1778
3  tt0000004            5.6       179
4  tt0000005            6.2      2583

# Title Basic

In [11]:
basics.isna().sum()

tconst             0
titleType          0
primaryTitle      11
originalTitle     11
isAdult            0
startYear          0
endYear            0
runtimeMinutes     0
genres            10
dtype: int64

In [12]:
basics.replace({'\\N':np.nan}, inplace=True)

In [13]:
basics.dropna(subset=['runtimeMinutes'], inplace=True)
basics.dropna(subset=['genres'], inplace=True)

In [14]:
basics = basics[basics['titleType'] == "movie"]

In [15]:
basics.dtypes

tconst            object
titleType         object
primaryTitle      object
originalTitle     object
isAdult           object
startYear         object
endYear           object
runtimeMinutes    object
genres            object
dtype: object

In [16]:
basics['startYear'] = basics['startYear'].astype(float)

In [17]:
basics = basics[(basics.startYear <= 2022) & (basics.startYear >= 2000)]

In [18]:
basics["startYear"].value_counts()

2017.0    14289
2018.0    14234
2019.0    13938
2016.0    13905
2015.0    13413
2014.0    13036
2013.0    12333
2022.0    12152
2021.0    12120
2012.0    11597
2020.0    11438
2011.0    10741
2010.0    10170
2009.0     9318
2008.0     8122
2007.0     6929
2006.0     6475
2005.0     5792
2004.0     5175
2003.0     4559
2002.0     4114
2001.0     3840
2000.0     3622
Name: startYear, dtype: int64

In [19]:
is_documentary = basics['genres'].str.contains('documentary',case=False)
basics = basics[~is_documentary]

In [20]:
keepers =basics['tconst'].isin(akas['titleId'])
keepers

34803      True
61116      True
67669      True
77964      True
86801      True
           ...
9588230    True
9588239    True
9588278    True
9588323    True
9588407    True
Name: tconst, Length: 146367, dtype: bool

In [21]:
basics = basics[keepers]
basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
34803,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance"
61116,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama
67669,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama
77964,tt0079644,movie,November 1828,November 1828,0,2001.0,NaN,140,"Drama,War"
86801,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,NaN,100,"Comedy,Horror,Sci-Fi"
...,...,...,...,...,...,...,...,...,...
9588230,tt9916170,movie,The Rehearsal,O Ensaio,0,2019.0,NaN,51,Drama
9588239,tt9916190,movie,Safeguard,Safeguard,0,2020.0,NaN,95,"Action,Adventure,Thriller"
9588278,tt9916270,movie,Il talento del calabrone,Il talento del calabrone,0,2020.0,NaN,84,Thriller
9588323,tt9916362,movie,Coven,Akelarre,0,2020.0,NaN,92,"Drama,History"
9588407,tt9916538,movie,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,0,2019.0,NaN,123,Drama

# AKAs:

In [22]:
akas.isna().sum()

titleId              0
ordering             0
title                5
region             108
language             0
types                0
attributes           0
isOriginalTitle      0
dtype: int64

In [23]:
akas.replace({'\\N':np.nan}, inplace=True)
akas.isna().sum()

titleId                   0
ordering                  0
title                     5
region              1878903
language            6491016
types              29349739
attributes         34556631
isOriginalTitle        2109
dtype: int64

# Rating:

In [24]:
rating.isna().sum()

tconst           0
averageRating    0
numVotes         0
dtype: int64

Save current dataframe to file.

In [25]:
basics.to_csv("Data/title_basics.csv.gz",compression='gzip',index=False)

In [26]:
akas.to_csv("Data/title_aka.csv.gz",compression='gzip',index=False)

In [27]:
rating.to_csv("Data/title_ratings.csv.gz",compression='gzip',index=False)

-

In [28]:
keepers_rating =rating['tconst'].isin(akas['titleId'])

In [29]:
rating = rating[keepers_rating]
rating.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1949
1  tt0000002            5.8       264
2  tt0000003            6.5      1778
3  tt0000004            5.6       179
4  tt0000005            6.2      2583