In [20]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pymysql
pymysql.install_as_MySQLdb()

from sqlalchemy import create_engine
from sqlalchemy_utils import create_database, database_exists
from urllib.parse import quote_plus as urlquote

In [3]:
basics = pd.read_csv('Data/title_basics.csv.gz')
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama
3,tt0079644,movie,November 1828,November 1828,0,2001.0,NaN,140,"Drama,War"
4,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,NaN,100,"Comedy,Horror,Sci-Fi"

In [4]:
## create a col with a list of genres
basics['genres_split'] = basics['genres'].str.split(',')
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genres_split
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance","[Comedy, Fantasy, Romance]"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama,[Drama]
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama,[Drama]
3,tt0079644,movie,November 1828,November 1828,0,2001.0,NaN,140,"Drama,War","[Drama, War]"
4,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,NaN,100,"Comedy,Horror,Sci-Fi","[Comedy, Horror, Sci-Fi]"

In [7]:
exploded_genres = basics.explode('genres_split')
exploded_genres

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genres_split
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance",Comedy
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance",Fantasy
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance",Romance
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama,Drama
...,...,...,...,...,...,...,...,...,...,...
145715,tt9916190,movie,Safeguard,Safeguard,0,2020.0,NaN,95,"Action,Adventure,Thriller",Thriller
145716,tt9916270,movie,Il talento del calabrone,Il talento del calabrone,0,2020.0,NaN,84,Thriller,Thriller
145717,tt9916362,movie,Coven,Akelarre,0,2020.0,NaN,92,"Drama,History",Drama
145717,tt9916362,movie,Coven,Akelarre,0,2020.0,NaN,92,"Drama,History",History
145718,tt9916538,movie,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,0,2019.0,NaN,123,Drama,Drama

In [8]:
unique_genres = sorted(exploded_genres['genres_split'].unique())

In [9]:
title_genres = exploded_genres[['tconst', 'genres_split']].copy()
title_genres.head()

      tconst genres_split
0  tt0035423       Comedy
0  tt0035423      Fantasy
0  tt0035423      Romance
1  tt0062336        Drama
2  tt0069049        Drama

In [10]:
## Making the genre mapper dictionary
genre_ints = range(len(unique_genres))
genre_map = dict(zip(unique_genres, genre_ints))
genre_map

{'Action': 0,
 'Adult': 1,
 'Adventure': 2,
 'Animation': 3,
 'Biography': 4,
 'Comedy': 5,
 'Crime': 6,
 'Drama': 7,
 'Family': 8,
 'Fantasy': 9,
 'Game-Show': 10,
 'History': 11,
 'Horror': 12,
 'Music': 13,
 'Musical': 14,
 'Mystery': 15,
 'News': 16,
 'Reality-TV': 17,
 'Romance': 18,
 'Sci-Fi': 19,
 'Short': 20,
 'Sport': 21,
 'Talk-Show': 22,
 'Thriller': 23,
 'War': 24,
 'Western': 25}

In [12]:
## make new integer genre_id and drop string genres
title_genres['genre_id'] = title_genres['genres_split'].map(genre_map)
title_genres = title_genres.drop(columns='genres_split')

In [13]:
genre_lookup = pd.DataFrame({'Genre_Name': genre_map.keys(),
                            'Genre_ID': genre_map.values()})
genre_lookup.head()

  Genre_Name  Genre_ID
0     Action         0
1      Adult         1
2  Adventure         2
3  Animation         3
4  Biography         4

In [15]:
connection = f"mysql+pymysql://{'root'}:{'root'}@localhost/movies"
engine = create_engine(connection)

In [22]:
if database_exists(connection) == False:
 create_database(connection)
else:
  print('The database already exists')

The database already exists

In [19]:
genre_lookup.dtypes

Genre_Name    object
Genre_ID       int64
dtype: object

In [24]:
from sqlalchemy.types import *

genre_len = genre_lookup['Genre_Name'].fillna('').map(len).max()

genre_schema = {
    "Genre_ID": Integer(), 
    "Genre_Name": Text(genre_len+1)}

In [25]:
genre_lookup.to_sql('genre_lookup',engine,dtype=genre_schema,if_exists='replace',index=False)

26

In [26]:
engine.execute('ALTER TABLE genre_lookup ADD PRIMARY KEY (`Genre_ID`);')

In [27]:
q = """SELECT * FROM genre_lookup;"""
pd.read_sql(q, engine)

    Genre_Name  Genre_ID
0       Action         0
1        Adult         1
2    Adventure         2
3    Animation         3
4    Biography         4
5       Comedy         5
6        Crime         6
7        Drama         7
8       Family         8
9      Fantasy         9
10   Game-Show        10
11     History        11
12      Horror        12
13       Music        13
14     Musical        14
15     Mystery        15
16        News        16
17  Reality-TV        17
18     Romance        18
19      Sci-Fi        19
20       Short        20
21       Sport        21
22   Talk-Show        22
23    Thriller        23
24         War        24
25     Western        25

basics load

In [30]:
basics.dtypes

tconst             object
titleType          object
primaryTitle       object
originalTitle      object
isAdult             int64
startYear         float64
endYear           float64
runtimeMinutes      int64
genres             object
genres_split       object
dtype: object

In [29]:
## saving text length
key_len = basics['tconst'].map(len).max()
title_len = basics['primaryTitle'].map(len).max()
key_len, title_len

(10, 242)

In [31]:
basics_schema = {
    "tconst": String(key_len+1), 
    "primaryTitle": Text(title_len+1),
    'startYear':Float(),
    'runtimeMinutes':Integer()
    }
basics_schema

{'tconst': String(length=11),
 'primaryTitle': Text(length=243),
 'startYear': Float(),
 'runtimeMinutes': Integer()}

In [32]:
basics.to_sql('title_basics',engine,dtype=basics_schema,if_exists='replace',index=False)
engine.execute('ALTER TABLE title_basics ADD PRIMARY KEY (`tconst`);')

OperationalError: (pymysql.err.OperationalError) (1241, 'Operand should contain 1 column(s)')
[SQL: INSERT INTO title_basics (tconst, `titleType`, `primaryTitle`, `originalTitle`, `isAdult`, `startYear`, `endYear`, `runtimeMinutes`, genres, genres_split) VALUES (%(tconst)s, %(titleType)s, %(primaryTitle)s, %(originalTitle)s, %(isAdult)s, %(startYear)s, %(endYear)s, %(runtimeMinutes)s, %(genres)s, %(genres_split)s)]
[parameters: ({'tconst': 'tt0035423', 'titleType': 'movie', 'primaryTitle': 'Kate & Leopold', 'originalTitle': 'Kate & Leopold', 'isAdult': 0, 'startYear': 2001.0, 'endYear': None, 'runtimeMinutes': 118, 'genres': 'Comedy,Fantasy,Romance', 'genres_split': ['Comedy', 'Fantasy', 'Romance']}, {'tconst': 'tt0062336', 'titleType': 'movie', 'primaryTitle': 'The Tango of the Widower and Its Distorting Mirror', 'originalTitle': 'El tango del viudo y su espejo deformante', 'isAdult': 0, 'startYear': 2020.0, 'endYear': None, 'runtimeMinutes': 70, 'genres': 'Drama', 'genres_split': ['Drama']}, {'tconst': 'tt0069049', 'titleType': 'movie', 'primaryTitle': 'The Other Side of the Wind', 'originalTitle': 'The Other Side of the Wind', 'isAdult': 0, 'startYear': 2018.0, 'endYear': None, 'runtimeMinutes': 122, 'genres': 'Drama', 'genres_split': ['Drama']}, {'tconst': 'tt0079644', 'titleType': 'movie', 'primaryTitle': 'November 1828', 'originalTitle': 'November 1828', 'isAdult': 0, 'startYear': 2001.0, 'endYear': None, 'runtimeMinutes': 140, 'genres': 'Drama,War', 'genres_split': ['Drama', 'War']}, {'tconst': 'tt0088751', 'titleType': 'movie', 'primaryTitle': 'The Naked Monster', 'originalTitle': 'The Naked Monster', 'isAdult': 0, 'startYear': 2005.0, 'endYear': None, 'runtimeMinutes': 100, 'genres': 'Comedy,Horror,Sci-Fi', 'genres_split': ['Comedy', 'Horror', 'Sci-Fi']}, {'tconst': 'tt0089067', 'titleType': 'movie', 'primaryTitle': 'El día de los albañiles 2', 'originalTitle': 'El día de los albañiles 2', 'isAdult': 0, 'startYear': 2001.0, 'endYear': None, 'runtimeMinutes': 90, 'genres': 'Comedy', 'genres_split': ['Comedy']}, {'tconst': 'tt0092960', 'titleType': 'movie', 'primaryTitle': 'En tres y dos', 'originalTitle': 'En tres y dos', 'isAdult': 0, 'startYear': 2004.0, 'endYear': None, 'runtimeMinutes': 102, 'genres': 'Drama', 'genres_split': ['Drama']}, {'tconst': 'tt0096056', 'titleType': 'movie', 'primaryTitle': 'Crime and Punishment', 'originalTitle': 'Crime and Punishment', 'isAdult': 0, 'startYear': 2002.0, 'endYear': None, 'runtimeMinutes': 126, 'genres': 'Drama', 'genres_split': ['Drama']}  ... displaying 10 of 145719 total bound parameter sets ...  {'tconst': 'tt9916362', 'titleType': 'movie', 'primaryTitle': 'Coven', 'originalTitle': 'Akelarre', 'isAdult': 0, 'startYear': 2020.0, 'endYear': None, 'runtimeMinutes': 92, 'genres': 'Drama,History', 'genres_split': ['Drama', 'History']}, {'tconst': 'tt9916538', 'titleType': 'movie', 'primaryTitle': 'Kuambil Lagi Hatiku', 'originalTitle': 'Kuambil Lagi Hatiku', 'isAdult': 0, 'startYear': 2019.0, 'endYear': None, 'runtimeMinutes': 123, 'genres': 'Drama', 'genres_split': ['Drama']})]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

rating

In [34]:
ratings = pd.read_csv('Data/title_ratings.csv.gz')

In [35]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1275548 entries, 0 to 1275547
Data columns (total 3 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   tconst         1275548 non-null  object
 1   averageRating  1275548 non-null  float64
 2   numVotes       1275548 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 29.2+ MB

In [36]:
from sqlalchemy.types import *

key_len = ratings['tconst'].fillna('').map(len).max()

ratings_schema = {
    "tconst": String(key_len+1), 
    "averageRating": Float(),
    "numVotes": Integer()}

In [37]:
ratings.to_sql('title_ratings',engine,dtype=ratings_schema,if_exists='replace',index=False)

1275548

In [38]:
engine.execute('ALTER TABLE title_ratings ADD PRIMARY KEY (`tconst`);')